.container {
  --background-color: #f3f3f3;
  --border-color: #c5c5c5;
  --grey-text: #727272;
  --black-text: #212121;
  color: var(--black-text);
  width: 300px;
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 40px;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
}

.tag {
  color: var(--grey-text);
}

.location {
  color: var(--grey-text);
}

.stats {
  display: flex;
  border-top: 1px solid var(--border-color);
}

.statsItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-basis: calc(100% / 3);
  padding: 20px;
  background-color: var(--background-color);
}

.statsItem:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--border-color);
}

.label {
  color: var(--grey-text);
}

.quantity {
  font-weight: 700;
}
