.container {
  --white-color: #ffffff;
  --black-color: rgb(99, 84, 84);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
}

.statsList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  min-width: 70px;
  padding: 15px;
  color: var(--white-color);
}

.label {
  font-weight: 700;
}

.percentage {
  font-size: 18px;
}
